 @import url('https://fonts.googleapis.com/css?family=Lato:700');

* {
    margin: 0px auto;
}
html {
    background: #0c0c0c;
    overflow-y: hidden;
    overflow-x: hidden;
}

#top_bar {
    border-bottom: 3px solid gray;
    width: 100%;
    height: 30px;
    background: #070707;
}

#links {
    text-align: left;
}

.top_bar_item {
    color: gray;
    font-family: "Sans-serif";
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
    line-height: 30px;
    position: relative;
}

.top_bar_item:hover {
    color: darkGray;
}

#title {
    color: #bf2224;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    text-align: center;
    line-height: 0;
    bottom: 15px;
    position: relative;
}

#chat_box {
    float: left;
    color: gray;
    position: absolute;
    width: 40%;
    height: 91%;
    padding-left: 1%;
    padding-top: 1%;
    font-size: 20px;
    overflow: scroll;
    overflow-x: none;
    overflow-x: hidden;
}

#info {
    width: 56%;
    height: 93%;
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 42%;
    color: gray;
    text-align: center;
    position: absolute;
}

#map {
    width: 100%;
    height: 50%;
    border: 3px solid gray;
    color: gray;
    text-align: center;
    font-size: 40px;
    display: block;
}

canvas {
    width: 100%;
    height: 100%;
}

#inventory {
    width: 100%;
    height: 20%;
    border: 3px solid gray;
    color: gray;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    float: down;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#user_input {
    width: 100%;
    height: 30px;
    bottom: 0px;
    position: absolute;
    margin: 0 auto;
    padding: 0 auto;
    background: #070707;
    border-top: 3px solid gray;
    border-left: none;
    border-right: none;
    border-bottom: none;
    color: gray;
    font-size: 20px;
}

input:focus {
    outline: none;
}

.network_item {
    margin-top: 20px;
    display: block;
    background: #0c0c0c;
    width: 350px;
    color: gray;
}

h2 {
    font-size: 50px;
    padding-bottom: 20px;
    border-bottom: 3px solid gray;
    margin-bottom: 20px;
}

.network_input {
    background: #070707;
    border: 3px solid gray;
    margin-top: 10px;
    width: 200px;
    height: 24px;
    color: gray;
    font-size: 20px;
}

p {
    font-size: 22px;
    padding-top: 10px;
}

button {
    width: 206px;
    height: 35px;
    font-weight: bold;
    font-size: 16px;
    color: gray;
    background: #0c0c0c;
    margin-top: 30px;
    border: 3px solid gray;
}

.link_buttons {
    color: #e54043;
    cursor: pointer;
}

#join-code-box {
    width: 100%;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
    color: gray;
    background: #070707;
    margin-top: 30px;
    border: 3px solid gray;
    text-align: center;
}

/* Chat box vertical scroll bar */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #070707;
}
::-webkit-scrollbar-thumb {
    background: gray;
    border: thin solid gray;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b;
}

#inventory_list {
	list-style-type: inline;
}

#toggle_map {
    z-index: 3;
    display: block;
    float: right;
    position: absolute;
    top: 45%;
    left: 62%
}

#duel_content {
    background: #F5F5F5;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 200px;
    border-top: 6px solid #bf2224;
    border-bottom: 6px solid #bf2224;
}

/* Attack button in duels */
#basic_attack {
    position: relative !important;

    margin-left: 40%;
}

.player_stats {
    padding-top: 0px !important;
    border: 0px !important;
    border-bottom: 0px !important;
}
